{{!-- friends list on the right with name and code and a check in one card
a wish list showing the items
--}}
<div class="row main-row">
    <div class="col-12">
        <div class="main-card">
            <div class="d-flex p-2 px-5 justify-content-center">
                <h2>{{user.username}}'s Dashboard</h2>
            </div>
            <div class="mx-5 text-center">
                <h3>Welcome to the Dashboard! See your friend's wishlist and make changes to your own!
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-3">
        <div class="card main-card p-3">
            <div class="d-flex p-2 px-5 justify-content-center">
                <h2>Friends!</h2>
            </div>

            <form class="form" id="friend-form">
                <div class="form-group">
                    <h5 for="friend-username" class="mt-2">Username</h5>
                    <input type="text" class="form-control" id="friend-username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <h5 for="friend-code" class="mt-2">Friend Code</h5>
                    <input type="text" class="form-control" id="friend-code" placeholder="Friend Code">
                </div>
                <button type="submit" class="btn nav-btn mx-0 mt-3">
                    <a class="nav-link text-light" href="#"><span class="btn-text">Add Friend</span></a>
                </button>
            </form>

            <div class="d-flex p-2 px-5 justify-content-center">
                <h5>Friend List!</h5>
            </div>
            <ul class="card main-card p-3 friend-list">
                {{#each user.lister as |friend|}}
                {{> friend-list}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="col-12 col-md-9">
        <div class="card main-card p-3">
            <div class="d-flex p-2 px-5 justify-content-center">
                <h2>Wishlist</h2>
            </div>
            <form class="form" id="item-form">
                <div class="form-group">
                    <h5 for="item-name" class="mt-2">Item Name</h5>
                    <input type="text" class="form-control" id="item-name" placeholder="Item Name">
                </div>
                <div class="form-group">
                    <h5 for="item-description" class="mt-2">Description</h5>
                    <input type="text" class="form-control" id="item-description" placeholder="Description">
                </div>
                <div class="form-group">
                    <h5 for="item-category" class="mt-2">Category</h5>
                    <select class="form-control" id="item-category">
                        <option>Electronics</option>
                        <option>Beauty</option>
                        <option>Games</option>
                        <option>Toys</option>
                        <option>Cars</option>
                        <option>Appliances</option>
                        <option>Furniture</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <h5 for="item-link" class="mt-2">Store Link</h5>
                    <input type="text" class="form-control" id="item-link" placeholder="Link">
                </div>
                <button type="submit" class="btn nav-btn mx-0 mt-3">
                    <a class="nav-link text-light" href="#"><span class="btn-text">Add Wish</span></a>
                </button>
            </form>

            <div class="d-flex p-2 px-5 justify-content-center">
                <h5>My List!</h5>
            </div>
            <div class="row">
                {{#each user.Items as |item|}}
                {{> card friend=false}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
<script src="/js/friend.js"></script>
<script src="/js/addItem.js"></script>
<script src="/js/deleteItem.js"></script>