<div class="row main-row">
  <div class="col-12">
    <div class="main-card">
      <div class="d-flex p-2 px-5 justify-content-center">
        <h2>Welcome To Gift-A-Cate!</h2>
      </div>
      <div class="mx-5 text-center">
        <h3>A site for you to post your wishlist, add friends, and surprise them by emptying your wallet!</h3>
      </div>
    </div>
  </div>
</div>